.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .left {
    width: 24%;
    height: 100%;
    text-align: center;
    .iconText{
      width: 162rpx;
      height: 90rpx;
      color: #333;
      font-size: 28rpx;
      line-height: 90rpx;
      border-left: 6rpx solid #fff;
    }
    .active{
      color: #ab2b2b;
      font-size: 36rpx;
      border-left: 6rpx solid #ab2b2b;
    }
  }
  .right{
    width: 76%;
    height: 100%;
    border-left: 1rpx solid #fafafa;
    .banner {
      width: 100%;
      height: 222rpx;
      margin-top: 20rpx;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      text-align: center;
      padding: 50rpx 0;

      span:nth-child(2) {
        font-size: 24rpx;
        color: #333;
        padding: 0 10rpx;
      }

      span:nth-child(2n + 1) {
        color: #999;
      }
    }
    .bottom{
      display: flex; // justify-content: space-between;
      flex-direction:column;
      //flex-wrap: wrap;
      .category{
        padding-top: 30rpx;
        padding-bottom: 20rpx;
        margin-left:24rpx;
        margin-bottom:30rpx;
        font-size: 30rpx;
        font-weight: bold;
        //border-bottom: 1px solid lavender
      }
      .item {
        width: 33.33%;
        text-align: center;
        margin-bottom: 20rpx;

        img {
          height: 144rpx;
          width: 144rpx;
          display: block;
          margin: 0 auto;
        }
        span {
          font-size: 26rpx;
        }
      }
    }
  }

}
