.content{
  .title{
    display: flex;
    justify-content: space-between;
    padding: 30rpx 20rpx;
    background-color: #bbbec4;
    p{
      font-size: 25rpx;
      color: #666;
    }
  }
  .cartlist{

  }
}
