.search{
  height: 100%;
}
.head{
  height: 91rpx;
  display: flex;
  padding: 0 32rpx;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1rpx solid rgba(0, 0, 0, 0.15);
}
